body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: rgb(17, 17, 17);
	background-color: #fcfefe;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.header {
	background: linear-gradient(135deg, #003A63, #003A62, #001A2E);
	color: #fcfefe;
	text-align: center;
}

.header h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 10px;
}

.header h1 .headline {
  color: #ffffe2;
  background: #e06400;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 600;
}

.thumb {
	max-width: 100%;
	height: auto;
	width: 750px;
	border: 3px solid white;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
}

.section {
	text-align: center;
}

.button {
	display: inline-block;
	background-color: #fddb31;
	color: rgb(17, 17, 17);
	padding: 20px 40px;
	font-size: 1.5rem;
	font-weight: 700;
	text-decoration: none;
	border-radius: 10px;
	margin: 15px 0;
	transition: background-color 0.3s ease;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.button:hover {
	background-color: #fbbf2e;
}

.section p {
	font-size: 1.1rem;
	line-height: 1.5;
	text-align: left;
	margin-bottom: 20px;
    font-weight: 500;
}

.footer {
	background-color: #dddddd;
	color: #737373;
	padding: 30px 0;
	text-align: center;
	font-size: 0.8rem;
}

.footer .cls_h6w2h56s {
	max-width: 700px;
	margin: 20px auto;
	line-height: 1.6;
}

.links {
	margin-top: 20px;
}

.links a {
	color: #737373;
	text-decoration: none;
	margin: 0 15px;
	font-weight: 500;
}

.links a:hover {
	text-decoration: underline;
}

@media (max-width:768px) {
	.header h1 {
		font-size: 1.5rem;
	}

	.button {
		font-size: 1.2rem;
		padding: 15px 30px;
	}

	.thumb {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: auto;
	}
}